<div id="viewport">
    <div id="sidebar">
        <header>
            <a>My App</a>
        </header>
        <ul class="list-group nav">
            <li class="list-group-item " routerLink="/statistique" style="cursor: pointer;">Statistique</li>
            <li class="list-group-item " routerLink="/university" style="cursor: pointer;">University</li>
            <li class="list-group-item " routerLink="/foyer" style="cursor: pointer;">Foyer</li>

        </ul>

    </div>
    <div id="content">

        <router-outlet></router-outlet>
    </div>
</div>